---
import type { MetaTags as Props } from "@/types/Meta";
import { SITE } from "@/config.mjs";

// if page does not define any meta info, these will be the defaults
const {
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  title = SITE.title,
  description = SITE.description,
  author = SITE.author,
  socialImage = SITE.socialImage,

  largestContentfulPaint,
} = Astro.props;
---

<!-- Basic Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- Icons  -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9d5346" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!-- LCP preloading -->
{
  largestContentfulPaint !== undefined && (
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href={largestContentfulPaint}
      type="image/webp"
    />
  )
}

<!-- Open Graph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:image" content={socialImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImage} />
