---
import { Image } from "astro:assets";
import cookiesAndCoffee from "@/assets/cookies_n_coffee.png";

export interface Props {
  numberOfPages?: number;
  currentPageNumber?: number;
  pathToPage: string[];
  pageName: string;
  description: string;
}

const {
  numberOfPages = 1,
  currentPageNumber = 1,
  pathToPage,
  pageName,
  description,
} = Astro.props;

let pageNumber = "";
if (numberOfPages > 1) {
  pageNumber = ` (Página ${currentPageNumber} de ${numberOfPages})`;
}
---

<div
  class="flex-col relative bg-gradient-to-t from-crust via-mantle to-primary border-secondary border-b-2 px-4 pb-4 pt-20 max-w-4xl mx-auto text-md lg:text-lg rounded-lg"
>
  <h6 class="text-skin-accent-secondary font-semibold">
    <span class="capitalize">{"Home > " + pathToPage.join(" > ")}</span>
    {numberOfPages > 1 && pageNumber}
  </h6>
  <h1 class="text-skin-base capitalize font-bold text-3xl lg:text-4xl py-2">
    {pageName}
  </h1>
  <p class="text-skin-subtext font-semibold">
    {description}
  </p>

  <Image
    src={cookiesAndCoffee}
    alt="Cookies and Coffee"
    width={200}
    class="absolute top-0 right-0 foreground-opacity"
  />
</div>
