---
import { Image } from "astro:assets";
import cookiesAndCoffee from "@/assets/cookies_n_coffee.png";

export interface Props {
  numberOfPages?: number;
  currentPageNumber?: number;
  pathToPage: string[];
  pageName: string;
  description: string;
}

const {
  numberOfPages = 1,
  currentPageNumber = 1,
  pathToPage,
  pageName,
  description,
} = Astro.props;

let pageNumber = "";
if (numberOfPages > 1) {
  pageNumber = ` (Página ${currentPageNumber} de ${numberOfPages})`;
}

let breadcrump = "/";
---

<div
  class="relative bg-gradient-to-t from-crust via-mantle to-primary border-secondary border-b-2 px-4 pb-4 pt-14 max-w-4xl mx-auto text-md lg:text-lg rounded-lg"
>
  <h1 class="text-skin-base capitalize font-bold text-3xl lg:text-4xl py-2">
    {pageName}
  </h1>

  <label class="text-skin-subtext font-semibold">
    {description}
  </label>

  <h2 class="text-skin-accent-secondary font-semibold mt-3">
    <span><a href={breadcrump}>Home</a></span>
    {
      pathToPage.map((item) => {
        breadcrump += item + "/";
        return (
          <span class="capitalize">
            {" > "}
            <a href={breadcrump}>{item}</a>
          </span>
        );
      })
    }
    {numberOfPages > 1 && pageNumber}
  </h2>

  <Image
    src={cookiesAndCoffee}
    alt="Cookies and Coffee"
    width={300}
    class="absolute top-1.5 right-0 foreground-opacity w-48"
  />
</div>
